<%- include('./partials/header.ejs') %>
  <main class="contact">
    <section class="main-content">
      <img src=" /images/index.jpg" alt="Campus Connect">
      <div class="text-content">
        <h2>Contact us</h2>
        <p>For any Queries</p>
        <p>Drop us an email: <a>ppathi@uncc.edu</a></p>
        <p>Contact us using our social media handles which can be found at the bottom of the application</p>
      </div>
    </section>
  </main>
  <%- include('./partials/footer.ejs') %>