<%- include('./partials/header.ejs') %>
  <main class="home">
    <section class="main-content">
      <img src=" /images/index.jpg" alt="Campus Connect">
      <div class="text-content">
        <h2>Hello All!</h2>
        <p>Thanks for visiting Campus Connect</p>
        <p>A one stop destination to all the international students out there to step into a world that has a
          mix of fun, cultural activities, sports and what not. Explore Campus Connect right now!</p>
      </div>
    </section>
  </main>
  <%- include('./partials/footer.ejs') %>