/* Styles : New event page */
/* To maintain consistency across pages, adding all the similar form styles here */
.newEvent, .editEvent, .login-page, .signup-page{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

h2 {
    text-align: center;
}

.main-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.form-column {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input, textarea, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

button {
    background-color: #3a868f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffc107;
}
}
