<%- include('../partials/header.ejs')%>
<br>
<div class="login-page">
    <h2>Login page</h2>
    <form action="/users/login" method="POST">
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required minlength="8" maxlength="64"><br>
        <button>Login</button><br>
    </form>
</div>
    <%- include('../partials/footer.ejs') %>