<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Connect - Events</title>
    <link rel="stylesheet" href="../css/commonStyles.css">
    <link rel="stylesheet" href="../css/events.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="brand-info">
                <a href="index.html"><img src="../images/logo-6.png" alt="Campus Connect Logo"></a>
                <h2>Your Gateway to Global Learning!</h2>
            </div>
                <div class="user-specific-links">
                    <a href="newEvent.html">New Event</a>
                    <a href="#">Sign Up</a>
                    <a href="#">Log In</a>
                </div>
                <div class="divider"></div>
                <div class="general-site-links">
                <a href="index.html">Home</a>
                <a href="events.html">Events</a>
            </div>
        </div>
    </header>
    <main>
        <section>
            <h2>Event Categories</h2>
            <div class="category">
                <h2>Social Gatherings</h2>
                <ul>
                    <li><a href="event.html">Welcome Party</a></li>
                    <li><a href="event.html">Movie Night</a></li>
                    <li><a href="event.html">Potlock</a></li>
                    <li><a href="event.html">Campus Tour</a></li>
                </ul>
            </div>
            <div class="category">
                <h2>Academic Workshops</h2>
                <ul>
                    <li><a href="event.html">HTML Workshop</a></li>
                    <li><a href="event.html">Research Seminar by Dr Jing Yang</a></li>
                    <li><a href="event.html">Python Hands On Lab Event</a></li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-links">
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2024 Campus Connect. All rights reserved.</p>
    </footer>
</body>
</html>
